td{
    text-align: center;
   
}

td a{
    text-decoration: none;
    color: black;
}

td a:hover{
    text-decoration: none;
    color: white;
}








.ti{
    margin-top: 20px;
 font-size: 40px;
 font-family: 'Roboto', sans-serif;
}
/*
.table{
    width: 80%;
    margin: auto;
}*/



/*------------------(se connnecter) link---------------*/

.link{
    margin-left: auto;
    color:black;
    text-decoration: none;
 }
 .link:hover{
  box-shadow: 0px 1px ghostwhite;
  text-decoration: none; 
 }
 
 /*-----user avatar------*/
 .use{
  color:black;
  margin-left: -10px;
  font-size: 40px;
   
 }
 
 .fa-sign-out-alt{
    color:red;
 }